.logo {
  height: 60px;
  margin: 8px 0 8px 0;
}

.LeftDrawer-root-1 {
  height: 76px;
}

.LeftDrawer-root-1 .LeftDrawer-menuButton-4  {
  margin-right: 0;
}

.MuiToolbar-root-47 {
  background-color: black;
}