.content-wrapper.landing {
  justify-content: center;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  text-align: center;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  background-color: #fffaf0;
  box-shadow: #000000;
  padding: 12px;
}

.modal .input {
  width: 100%;
}

.modal p {
  margin: 0;
}

.modal-form {
  width: 100%;
}

.modal-heading {
  height: 24px;
}