/* .user-outline-container {
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: center;
} */

.column {
  display: flex;
  flex: 50%;
}

.card {
  min-width: 280px;
  max-width: 90%;
  margin-top: 80px;
  text-align: center;
  align-self: flex-start;
}

.avatar-header .avatar-title {
  font-size: 28px;
  line-height: 1em;
}

.avatar-header .avatar {
  width: 80px;
  height: 80px;
}